%h1 Search#search
%p Find me in app/views/search/search.html.haml

Results for
= @query

%ul
- @results.items.each do |item|
  %li
    = image_tag item.get_hash('LargeImage')["URL"] if item.get_hash('LargeImage')
    = item.get('ItemAttributes/Title')

