%h1 Search#search
%p Find me in app/views/search/search.html.haml

Results for
= @query

#container
  - @results.items.each do |item|
    - image = item.get_hash('LargeImage')
    - if image
      .box{:style => 'width:320px'}
        - title = item.get('ItemAttributes/Title')
        - height = image["Height"].to_i * 300 / image["Width"].to_i
        = image_tag image["URL"], {:width => 300, :height => height, :alt => title, :title => title }
        %br
        = link_to title, item.get('DetailPageURL'), :target => '_blank'

%nav#page-nav
  = link_to "", :keyword => @query, :page => (@page.to_i + 1).to_s

:javascript
  $container = $('#container');

  $container.masonry({
    itemSelector: '.box'
  });

  $container.infinitescroll({
    navSelector  : '#page-nav',
    nextSelector : '#page-nav a',
    itemSelector : '.box',
    loading: {
        finishedMsg: 'No more pages to load.',
        img: 'http://i.imgur.com/6RMhx.gif'
      }
    },

    function( newElements ) {
      var $newElems = $( newElements ).css({ opacity: 0 });
      $newElems.imagesLoaded(function(){
        $newElems.animate({ opacity: 1 });
        $container.masonry( 'appended', $newElems, true );
      });
    }
  );
